
{% extends "Head.twig" %}

{% block title %}Liste utilisateurs{% endblock %}

{% block content %}      
<div class="container">    
    <table>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>email</th>
            <th>lieu</th>
            <th>niveau</th>
            <th>Ajouter par:</th>
            <th>Action</th>
        </tr>    
{% for user in userList  %}
        <tr>
            <td> {{ user.nom }} </td>
            <td> {{ user.prenom }} </td>
            <td> {{ user.email }} </td>
            <td> {{ user.lieu }} </td>
            <td> {{ user.niveau }} </td>
            <td> {{ user.userAdd }} </td>
            <td>
              <a href='modifier={{ user.id}} '><i class="fas fa-user-edit fa-2x"></a></i> | 
              <a href="supprimer={{ user.id }}"><i class="fas fa-user-slash fa-2x"></a></i>
            </td>
        </tr>
{% endfor %}
    </table>
   <a href='Ajouter-Utilisateur'><i class="fas fa-user-plus fa-2x"></i></a>
</div>
{% endblock %}    